
/*h1{
    color: blue;
   background-color: yellow;
} 
body{
    background-color: aqua;
}
button{
    background-color: seagreen;
    color: azure;
}
    */

    .myparagrapgh{

        color:orange;
    }
    .newclass{
        background-color: aquamarine;
        color: red;
    }

    div{
        height: 100px;
        width :100p;
        background-color: blueviolet;
        color: white;
        border: 1px solid;
    }